// Your variable overrides
$primary: #4a4e69;
$secondary: #c9ada7;
$light: #f2e9e4;
$body-bg: #fafafa;
$border-radius: 2px;
$table-cell-padding: 0.3rem;

// Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap";
// BootstrapVue and its default variables
@import "~bootstrap-vue/src/index.scss";

